<a href="https://colab.research.google.com/github/ARiyadi3/UAS/blob/main/UASno3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

In [28]:
columns = ['Name','Body','Gives','Four-logged','Hibernate', 'Mamalia']
rows = []
rows = [['Salamander','Cold','No','Yes','Yes','No'],
       ['Guppy','Cold','Yes','No','No','No'],
       ['Eagle','Warm','No','Yes','Yes','No'],
       ['Platpus','Warm','No','Yes','Yes','Yes'],
       ['Dolphin','Warm','Yes','No','No','Yes'],
       ]
training_data = pd.DataFrame(rows, columns=columns)
training_data

         Name  Body Gives Four-logged Hibernate Mamalia
0  Salamander  Cold    No         Yes       Yes      No
1       Guppy  Cold   Yes          No        No      No
2       Eagle  Warm    No         Yes       Yes      No
3     Platpus  Warm    No         Yes       Yes     Yes
4     Dolphin  Warm   Yes          No        No     Yes

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
stmt_docs = [row['Name'] for index,row in training_data.iterrows() if row['Mamalia'] == 'Yes']
stmt_docs

['Platpus', 'Dolphin']

In [33]:
vec_s = CountVectorizer()
x_s = vec_s.fit_transform(stmt_docs)
td_m = pd.DataFrame(x_s.toarray(), columns=vec_s.get_feature_names())
td_m

   dolphin  platpus
0        0        1
1        1        0

In [39]:
q_docs = [row['Name'] for index,row in training_data.iterrows() if row['Mamalia'] == 'No']
vec_q = CountVectorizer()
x_q = vec_q.fit_transform(stmt_docs)
td_ms = pd.DataFrame(x_q.toarray(), columns=vec_q.get_feature_names())
td_ms

   eagle  guppy  salamander
0      0      0           1
1      0      1           0
2      1      0           0

In [36]:
word_list_s = vec_s.get_feature_names();
count_list_s = x_s.toarray().sum(axis=0)
freq_s = dict(zip(word_list_s,count_list_s))
word_list_s
freq_s

{'eagle': 1, 'guppy': 1, 'salamander': 1}

In [40]:
word_list_q = vec_q.get_feature_names();
count_list_q = x_q.toarray().sum(axis=0)
freq_q = dict(zip(word_list_q,count_list_q))
freq_q

{'eagle': 1, 'guppy': 1, 'salamander': 1}

In [42]:
prob_s = []
for word, count in zip(word_list_s,count_list_s):
  prob_s.append(count/len(word_list_s))
dict(zip(word_list_s,prob_s))

{'eagle': 0.3333333333333333,
 'guppy': 0.3333333333333333,
 'salamander': 0.3333333333333333}

In [44]:
prob_q = []
for word, count in zip(word_list_q,count_list_q):
  prob_s.append(count/len(word_list_q))
dict(zip(word_list_q,prob_q))

{}

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
docs = [row['Name'] for index,row in training_data.iterrows()]

vec = CountVectorizer()
x = vec.fit_transform(docs)

total_features = len(vec.get_feature_names())
total_features

5

In [50]:
total_cnts_features_s = count_list_s.sum(axis=0)
total_cnts_features_q = count_list_q.sum(axis=0)
print(total_cnts_features_q)
print(total_cnts_features_s)

3
3

In [52]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [53]:
from nltk.tokenize import word_tokenize
new_setence = 'Dolphin Warm Yes No No Yes'
new_word_list = word_tokenize(new_setence)
print(new_word_list)

['Dolphin', 'Warm', 'Yes', 'No', 'No', 'Yes']

In [56]:
prob_s_with_ls = []
for word in new_word_list:
  if word in freq_s.keys():
    count = freq_s[word]
  else:
    count = 0
  prob_s_with_ls.append((count + 1 ) / (total_cnts_features_s + total_features))
  dict(zip(new_word_list, prob_s_with_ls))

In [57]:
prob_q_with_ls = []
for word in new_word_list:
  if word in freq_q.keys():
    count = freq_q[word]
  else:
    count = 0
  prob_q_with_ls.append((count + 1 ) / (total_cnts_features_q + total_features))
  dict(zip(new_word_list, prob_q_with_ls))

In [60]:
i = 0
prob_s = 1
for i in range (len(prob_s_with_ls)):
  prob_s = prob_s*prob_s_with_ls[i]
print(prob_s)
print("Nilai Akhir Statement", prob_s*0.5)

3.814697265625e-06
Nilai Akhir Statement 1.9073486328125e-06

In [61]:
i = 0
prob_q = 1
for i in range (len(prob_q_with_ls)):
  prob_q = prob_q*prob_q_with_ls[i]
print(prob_q)
print("Nilai Akhir Statement", prob_q*0.5)

3.814697265625e-06
Nilai Akhir Statement 1.9073486328125e-06